P1/Practica 2/images/ex1_child.png
Temas Selectos/P1/Practica 2/__pycache__/elitista.cpython-311.pyc
Temas Selectos/P1/Practica 2/__pycache__/torneo.cpython-311.pyc
Temas Selectos/P1/ejercicios/prueba.py
Temas Selectos/P1/Practica4/T4_ROM_Montero_Barraza_Alvaro_David_6BV1.pdf
Temas Selectos/P1/Practica 3/__pycache__/casas.cpython-311.pyc
Temas Selectos/P1/Practica4/T4_ROM_Montero_Barraza_Alvaro_David_6BV1.zip
Temas Selectos/P1/Practica4/__pycache__/main.cpython-311.pyc
Temas Selectos/P2/Practica4/__pycache__/main.cpython-311.pyc
Temas Selectos/P2/Practica5/PSO reporte.pdf
Temas Selectos/P2/Practica5/T3_Montero_Barraza_Alvaro_David_6BV1.zip
Temas Selectos/P2/Practica5/__pycache__/PSO_L.cpython-311.pyc
Temas Selectos/P2/Practica5/__pycache__/PSO_G.cpython-311.pyc
Temas Selectos/Proyecto/proyectoBioinspirados.unitypackage
Temas Selectos/Proyecto/solo_necesario.unitypackage
.gitignore
Temas Selectos/P2/Compression/cat.jpg
Temas Selectos/P2/Compression/cat.jpeg
.gitignore
Temas Selectos/P2/pseudocodigo
